## TUPLES(immutable-not change)
#### It is collection of different data types separated by','and encloused with()

In [1]:
t=(23,43,34.97,"kvsw","kurnool")
t

(23, 43, 34.97, 'kvsw', 'kurnool')

In [2]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### count

In [3]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [5]:
t.count("kvsw")

1

In [9]:
u=(9,1,6,0,3,0,3,0,1,6)
print(u.count(0))
print(type(u))

3
<class 'tuple'>

### Index

In [11]:
p=(12,32,43.8,"lalu")
p.index(32)

1

In [12]:
p*2

(12, 32, 43.8, 'lalu', 12, 32, 43.8, 'lalu')

In [13]:
print(t+p)

(23, 43, 34.97, 'kvsw', 'kurnool', 12, 32, 43.8, 'lalu')

# SET
* It can enclosed by {}
* It is a collaction of elements separated by ','.And the elements in unorder,it doesn't have index values

In [18]:
s={1,2,3,4,5,3,2}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [16]:
e={"mango","banana","water melon"}
print(type(e))
print(e)

<class 'set'>
{'mango', 'water melon', 'banana'}

In [19]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Add

In [20]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [22]:
s.add(13)
print(s)

{1, 2, 3, 4, 5, 13}

### Clear

In [23]:
s.clear()

In [24]:
s

set()

In [25]:
s={1,2,3,4,5,13}
s

{1, 2, 3, 4, 5, 13}

### Copy

In [26]:
c=s.copy()
print(s)
print(c)

{1, 2, 3, 4, 5, 13}
{1, 2, 3, 4, 5, 13}

### Difference

In [32]:
a={9,1,6,0,3,7,8}
b={0,3,0,1,6,3,5}
c=a.difference(b)#remove the value of b in a and print remaining value
print(c)
d=b.difference(a)
print(d)

{8, 9, 7}
{5}

### isdisjoint

In [33]:
a.isdisjoint(b)

False

In [43]:
e={1,2,3,4}
f={5,6,7,8}
e.isdisjoint(f)

True

### Union/intersection

In [37]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [38]:
print(a.union(b))

{0, 1, 3, 5, 6, 7, 8, 9}

In [40]:
print(a.intersection(b))

{0, 1, 3, 6}

### issubset/issuperset

In [41]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [44]:
print(a.issubset(b))
print(e.issubset(f))

False
False

In [47]:
e={1,2,3}
f={1,2,3,4,5}
print(e.issubset(f))
print(e.issuperset(f))

True
False

### Acessing elements in set

In [49]:
m={2,33,54,65,4,5}
for i in m:
    print(i,end=",")

65,33,2,4,5,54,

### Update

In [54]:
m.update(e)
print(m)

{65, 33, 2, 4, 5, 1, 3, 54}

### symmetric_difference

In [55]:
z=f.symmetric_difference(e)
z

{4, 5}

In [56]:
m.pop()

65

### Pop

In [58]:
m.pop()

33

### remove

In [61]:
m.remove(54)
m

{1, 2, 4, 5}

### Discard

In [62]:
m.discard(5)
m

{1, 2, 4}

### Assigning list to set

In [65]:
lis=[5,8,9,10.0,"l"]
print(type(lis),lis)
se=set(lis)
print(type(se),se)

<class 'list'> [5, 8, 9, 10.0, 'l']
<class 'set'> {5, 8, 9, 10.0, 'l'}

In [75]:
i=list(set(map(int,input().split())))
print(type(i),i)

5 6 7 8 8 5
<class 'list'> [8, 5, 6, 7]