# Handling CSV files

In [3]:
file="mstp.txt"
def name(file):
    with open(file,'w') as a:
        a.write("kvsw"+","+"kvsr"+","+"kvsm")
name(file)

In [7]:
with open(file,'a') as a:
    a.write("\ncse"+","+"ece"+","+"eee"+","+"civil")

In [8]:
with open(file,'r') as a:
    a1=a.read()
    print(a1)

kvsw,kvsr,kvsmcse,ece,eee,civil

cse,ece,eee,civil
cse,ece,eee,civil
cse,ece,eee,civil

In [10]:
with open(file,'r') as a:
    a1=a.readlines()
    print(a1[2])

cse,ece,eee,civil

In [2]:
file1="contacts.txt"
with open(file1,'a') as f:
    f.write("lalasa"+","+"9160303016"+","+"lalasacse510@gmail.com")
    f.write("\numa"+","+"9703255854"+","+"dari.uma432@gmail.com")

In [3]:
def csv_to_list(file1):
    with open(file1,'r') as f:
        f1=f.readlines()
        print(f1)
        s=f1[1].split(",")
        print(s[1])
csv_to_list(file1)

['lalasa,9160303016,lalasacse510@gmail.com\n', 'uma,9703255854,dari.uma432@gmail.com\n', 'mamatha,8019710764,mamathakarakala@gmail.comlalasa,9160303016,lalasacse510@gmail.com\n', 'uma,9703255854,dari.uma432@gmail.com']
9703255854

In [4]:
def csv_to_list(file1):
    l=[]
    with open(file1,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l
csv_to_list(file1)

[['lalasa', '9160303016', 'lalasacse510@gmail.com\n'],
 ['uma', '9703255854', 'dari.uma432@gmail.com\n'],
 ['mamatha',
  '8019710764',
  'mamathakarakala@gmail.comlalasa',
  '9160303016',
  'lalasacse510@gmail.com\n'],
 ['uma', '9703255854', 'dari.uma432@gmail.com']]

In [5]:
def listtocsv(file1):
    d=csv_to_list(file1)
    s=""
    for i in d:
        s+=",".join(i)
    print(s)
listtocsv(file1)

lalasa,9160303016,lalasacse510@gmail.com
uma,9703255854,dari.uma432@gmail.com
mamatha,8019710764,mamathakarakala@gmail.comlalasa,9160303016,lalasacse510@gmail.com
uma,9703255854,dari.uma432@gmail.com

In [6]:
# phone validation
import re
def phoneno(no):
    pattern='^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}$'
    if re.match(pattern,str(no)):
        return 1
    else:
        return 0
def email(id_):
    pattern='^([a-z]|[A-Z]|[0-9])([a-z]|[A-Z]|[0-9]|[_]){6,14}([0-9]|[a-z]|[A-Z])[@][a-z]{2,10}[.][a-z]{2,4}$'
    if re.match(pattern,str(id_)):
        return 1
    else:
        return 0
def searchcontact(name1,file1):
    s=csv_to_list(file1)
    for i in s:
        if i[0]==name1:
            return 1
    return 0
def addcontact(name1,no,id_,file1):
    if searchcontact(name1,file1)==0:
        if phoneno(no)==1:
            if email(id_)==1:
                with open(file1,'a') as f:
                    f.write("\n"+name1+","+no+","+id_)
                    print("contact add successfully")
    else:
        print("contact already exit")
addcontact("mamatha","8019710764","mamathakarakala@gmail.com","contacts.txt")

contact already exit

# Functional Programming

In [61]:
#procedure--c
#scripting--php,java,python,shell
#structured--python,java,scala

### list or dictionaries or tuples or sets or comphrehension

In [65]:
#print n natural number
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

10
1 2 3 4 5 6 7 8 9 10

### List comphrehension

In [66]:
#==>expression for list in items condition
n=int(input())
ls=[i for i in range(1,n+1)]
ls

10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
s="google.com"
f=[s.upper()]
f

['GOOGLE.COM']

In [70]:
f=[i.upper() for i in s]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [87]:
#print the first 10 numbers sqrt values in a list
n=int(input())
#for i in range(1,n+1):
    #s=i**0.5
    #print(s)
ls=[i**0.5 for i in range(1,n+1)]   
ls

5

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [89]:
import math
n=int(input())
ls=[]
for i in range(1,n+1):
    ls.append(i**0.5)
ls

5

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [91]:
n=int(input())
n1=int(input())
li=[s*s for s in range(n,n1+1)]
li

20
30

[400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [92]:
l=[a**3 for a in range(41,51)]#cubes of a number in given range
l

[68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000]

In [109]:
#function to find out the factriol of a number
def factriol(num):
    l=[]
    s=1
    for i in range(1,num+1):
        s=s*i
        l.append(s)
    print(l)
num=int(input())
factriol(num)

5
[1, 2, 6, 24, 120]

In [110]:
ls=[factriol(num) for i in range(num)]
ls

[1, 2, 6, 24, 120]
[1, 2, 6, 24, 120]
[1, 2, 6, 24, 120]
[1, 2, 6, 24, 120]
[1, 2, 6, 24, 120]

[None, None, None, None, None]

In [120]:
# even or odd
def evenorodd(n):
    l=[]
    l1=[]
    for i in range(a,b+1):
        if i%2==0:
            l.append(i)
        else:
            l1.append(i)
    print(l)
    print(l1)
a=int(input())
b=int(input())
evenorodd(n)

10
20
[10, 12, 14, 16, 18, 20]
[11, 13, 15, 17, 19]

In [122]:
## even or odd
ls=[i for i in range(10,21) if i%2==0]
print("even-->",ls)
li=[j for j in range(10,20) if j%2!=0]
print("odd-->",li)

even--> [10, 12, 14, 16, 18, 20]
odd--> [11, 13, 15, 17, 19]

#### nested loops in comphrehension

In [124]:
e=["even" if i%2==0 else "odd" for i in range (10,21)]
o=[i if i%2==0 else i for i in range (10,21)]
print(e)
print(o)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [125]:
q=[i for i in range(1,21) if i%2==0 if i%5==0]
q

[10, 20]

In [133]:
#leap years from 2000-2020
leapyear=[i for i in range(2000,2021) if i%4==0 and i%100!=0 or i%400==0]
print("leapyear :",leapyear)

leapyear : [2000, 2004, 2008, 2012, 2016, 2020]

### lambda

In [134]:
#anonymous function
#syntax--> lambda arguments:expression
d=lambda n:n**2
print(d(4))

16

In [136]:
s=lambda n:n**3
print(s(4))

64

In [138]:
l=[1,2,3,4,5]
li=[i**2 for i in l]
li

[1, 4, 9, 16, 25]

### iterators

In [142]:
#syntax-->iter(),next()
a=iter(l)
print(next(a))
print(next(a))

1
2

### generators

In [147]:
# syntax-->yield,next
def add(a,b):
    c=a+b
    yield c
    a+=1
    b+=1
    c=a+b
    yield c
d=add(2,3)
for i in add(2,3):
    print(i)

5
7

### map

In [152]:
#syntax-->map(fun,iterbale)
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [153]:
print(list(map(lambda n:n**2,l)))

[1, 4, 9, 16, 25]

In [157]:
# addition of two numbers
t=(1,2,3,4)
t1=(5,6,7,8)
print(list(map(lambda a,b:a+b,t,t1)))

[6, 8, 10, 12]

### filter

In [159]:
#syntax-->filter(fun,iterable)
a=[1,2,3,4,5,6,7,8,9,10]
a1=filter(lambda n:n%2==0,a)
print(list(a1))

[2, 4, 6, 8, 10]

In [172]:
n=[1,2,3,'a','b']
def digit(n):
        if str(n).isdigit():
            return True
        return False
print(list(filter(digit,l1)))

[1, 2, 3]

In [197]:
l=list(range(1,10))
def prime(l):
        c=0
        for j in range(1,l+1):
            if l%j==0:
                c=c+1
        if c==2:
            return 1
        return 0
print(list(filter(prime,l)))

[2, 3, 5, 7]