# Day objectives
# #markdown
# # #python Basics

**kvsw**
*cse*

***bold and italic***

* test

>1.text

## python Basics

## find the python

In [6]:
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

## print hello world

In [7]:
print("hello world!")

hello world!

In [8]:
print("kvsw-mamatha")

kvsw-mamatha

In [18]:
print("mamatha" + "cse")
x="lalasa"
print(x)
y="mounisha"
print(y)

mamathacse
lalasa
mounisha

## Data types in python
* Int
* float
* string
* complex
* list
* tuples
* set

In [19]:
x=50
print(x)

50

In [20]:
type(10)

int

In [21]:
y="mammu"
print(y)

mammu

In [22]:
type(y)

str

In [26]:
m=14.9
print(m)

14.9

In [27]:
type(m)

float

In [28]:
z=6+7j
type(z)

complex

In [29]:
z

(6+7j)

# Data type conversion

In [33]:
s=str(z)
s

'(6+7j)'

In [42]:
f=float(x)
print(f)

50.0

In [40]:
type(f)

float

# Variable assiging

> 1.Different data types can be assign as  different variables
> 2.same date types can be assigned to a different variables

x,y,z=55,"hello",33.98
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

In [46]:
x=y=z="mammu"
print(x,y,z)
print(type(z))

mammu mammu mammu
<class 'str'>

## Arithimatic and logical operations in python

In [48]:
x=30
y=400
print("addition-->",x+y)
print("substration-->",x-y)
print("multiplication-->",x*y)
print("division-->",x/y)
print("floor division-->",x//y)
print("power",x**2)

addition--> 430
substration--> -370
multiplication--> 12000
division--> 0.075
floor division--> 0
power 900

In [49]:
'''mamathareddy
kvswcollege
csebranch'''

'mamathareddy\nkvswcollege\ncsebranch'