In [11]:
import pandas as pd
df=pd.read_csv("income.csv")
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [14]:
df.loc[:,['2010']]

    2010
0  40933
1  57848
2  46896
3  38587
4  54283

In [19]:
# sum of values in particular column
s=0
for i in df["2010"]:
    s=s+i
print(s)#or df["2010"].sum()
#product of values in particular column
p=1
for i in df["2010"]:
    p=p*i
print(p)

238547
232596181920264525116544

In [21]:
df.loc[1,"2005":]
#or df.iloc[1,2:]

2005    55891
2006    56418
2007    62993
2008    63989
2009    61604
2010    57848
2011    57431
2012    63648
2013    61137
Name: 1, dtype: object

In [28]:
#sum of values in particular row
s=0
for i in df.iloc[1,2:]:
    s=s+i
print(s)#or df.iloc[1,2:].sum()

540959

In [29]:
df["2010"].sum()

238547

In [25]:
#4th row and all columns sum
df.iloc[4,2:].sum()

498154

In [45]:
#sum of 2005 to 2008 columns
a=df.loc[:,"2005":"2008"].sum()
a.sum()

976808

In [46]:
#sum of all column income values
a=df.loc[:,"2005":].sum()
a.sum()

2199422

In [47]:
# to find the total sum of individual columns
df.sum()

GEOID    04000US0104000US0204000US0404000US0504000US06
State           AlabamaAlaskaArizonaArkansasCalifornia
2005                                            226699
2006                                            233403
2007                                            264727
2008                                            251979
2009                                            239995
2010                                            238547
2011                                            243311
2012                                            250194
2013                                            250567
dtype: object

In [48]:
# to find the sum of the individual rows
df.sum(1)

0    370138
1    540959
2    440711
3    349460
4    498154
dtype: int64

In [49]:
df.prod()

2005    2304332586102593708
2006   -3396487475510719616
2007   -6999381839592754296
2008   -6111060772352250592
2009    6209617939067354560
2010    1185894860788790400
2011    4814774946528885700
2012    1466460077803167744
2013    3670165461116089616
dtype: int64

In [62]:
# find the product of 1 and 2 rows upto 2008
a=df.iloc[1:2,2:6].prod().prod()
a

-5736403676770409890

In [60]:
df.iloc[1:2,2:6]

    2005   2006   2007   2008
1  55891  56418  62993  63989

In [63]:
help(df.iloc)

Help on _iLocIndexer in module pandas.core.indexing object:

class _iLocIndexer(_LocationIndexer)
 |  Purely integer-location based indexing for selection by position.
 |
 |  ``.iloc[]`` is primarily integer position based (from ``0`` to
 |  ``length-1`` of the axis), but may also be used with a boolean
 |  array.
 |
 |  Allowed inputs are:
 |
 |  - An integer, e.g. ``5``.
 |  - A list or array of integers, e.g. ``[4, 3, 0]``.
 |  - A slice object with ints, e.g. ``1:7``.
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series, DataFrame
 |    or Panel) and that returns valid output for indexing (one of the above).
 |    This is useful in method chains, when you don't have a reference to the
 |    calling object, but would like to base your selection on some value.
 |
 |  ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |  out-of-bounds, except *slice* indexers which allow out-of-bounds
 |  indexing (this conforms with python/numpy *slice* semantics).
 |
 |  See more at ref:`Selection by Position <indexing.integer>`.
 |
 |  See Also
 |  --------
 |  DataFrame.iat : Fast integer location scalar accessor.
 |  DataFrame.loc : Purely label-location based indexer for selection by label.
 |  Series.iloc : Purely integer-location based indexing for
 |                 selection by position.
 |
 |  Examples
 |  --------
 |
 |  >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |  ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |  ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |  >>> df = pd.DataFrame(mydict)
 |  >>> df
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  **Indexing just the rows**
 |
 |  With a scalar integer.
 |
 |  >>> type(df.iloc[0])
 |  <class 'pandas.core.series.Series'>
 |  >>> df.iloc[0]
 |  a    1
 |  b    2
 |  c    3
 |  d    4
 |  Name: 0, dtype: int64
 |
 |  With a list of integers.
 |
 |  >>> df.iloc[[0]]
 |     a  b  c  d
 |  0  1  2  3  4
 |  >>> type(df.iloc[[0]])
 |  <class 'pandas.core.frame.DataFrame'>
 |
 |  >>> df.iloc[[0, 1]]
 |       a    b    c    d
 |  0    1    2    3    4
 |  1  100  200  300  400
 |
 |  With a `slice` object.
 |
 |  >>> df.iloc[:3]
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  With a boolean mask the same length as the index.
 |
 |  >>> df.iloc[[True, False, True]]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  With a callable, useful in method chains. The `x` passed
 |  to the ``lambda`` is the DataFrame being sliced. This selects
 |  the rows whose index label even.
 |
 |  >>> df.iloc[lambda x: x.index % 2 == 0]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  **Indexing both axes**
 |
 |  You can mix the indexer types for the index and columns. Use ``:`` to
 |  select the entire axis.
 |
 |  With scalar integers.
 |
 |  >>> df.iloc[0, 1]
 |  2
 |
 |  With lists of integers.
 |
 |  >>> df.iloc[[0, 2], [1, 3]]
 |        b     d
 |  0     2     4
 |  2  2000  4000
 |
 |  With `slice` objects.
 |
 |  >>> df.iloc[1:3, 0:3]
 |        a     b     c
 |  1   100   200   300
 |  2  1000  2000  3000
 |
 |  With a boolean array whose length matches the columns.
 |
 |  >>> df.iloc[:, [True, False, True, False]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  With a callable function that expects the Series or DataFrame.
 |
 |  >>> df.iloc[:, lambda df: [0, 2]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  Method resolution order:
 |      _iLocIndexer
 |      _LocationIndexer
 |      _NDFrameIndexer
 |      pandas._libs.indexing._NDFrameIndexerBase
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __iter__(self)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

##### Average
* mean()

In [71]:
# to find the average of 2011 column
#to find the average of 2nd row
print(df["2011"].mean())
print(df.iloc[2,2:].mean().mean())

48662.2
48967.88888888889

##### median

In [75]:
# to find the median of 2011 column
#to find the median of 2nd row
print(df["2011"].median())
#print(df.iloc[2,2:].mean().mean())

48621.0

In [162]:
df1=pd.read_csv("income.csv",index_col="State")
df1
#df1=df.index("State")
#df1

,GEOID,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,
Alabama,04000US01,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,45245,46657,62993,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,51755,55319,55734,57014,56134,54283,53367,57020,57528

#### Combined Average Income of all states from 2005 to 2013

In [167]:
df1.loc[:,"2005":].mean(1).mean()

48876.04444444444

#### State with highest average income in the last three years

In [175]:
a=df1.iloc[:,-3:]# values of last 3 year
a.mean(1)# row wise average of last 3 years
a.mean(1).idxmax()

'Alaska'

#### State with lowest average income from 2007 to 2010(inclusive)

In [188]:
b=df1.loc[:,"2007":"2010"]# income values from 2007 to 2010
b.mean(1).idxmin()

'Arkansas'

#### Print the list of all states in the same line with average income less than California

In [212]:
a=df1.iloc[:,2:].mean(1)
a

State
Alabama       41623.500
Alaska        60633.500
Arizona       49433.250
Arkansas      39100.250
California    55799.875
dtype: float64

In [214]:
a1=df1.iloc[-1,2:].mean()
a1

55799.875

In [215]:
df1.iloc[:,2:].mean(1)<a

State
Alabama        True
Alaska        False
Arizona        True
Arkansas       True
California    False
dtype: bool

In [218]:
list(df1[df1.iloc[:,2:].mean(1)<a].index)

['Alabama', 'Arizona', 'Arkansas']

#### Print the names of states based on descending order of income in the year 2009

In [222]:
d=df1.loc[:,"2009"]
d

State
Alabama       39980
Alaska        61604
Arizona       45739
Arkansas      36538
California    56134
Name: 2009, dtype: int64

In [224]:
d.sort_values(ascending=False)

State
Alaska        61604
California    56134
Arizona       45739
Alabama       39980
Arkansas      36538
Name: 2009, dtype: int64

In [226]:
list(d.index)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']

#### State with the lowest recorded income from 2005 to 2013'''

In [245]:
a=df1.loc[:,"2005":].idxmin()
a

2005    Arkansas
2006    Arkansas
2007    Arkansas
2008    Arkansas
2009    Arkansas
2010    Arkansas
2011    Arkansas
2012    Arkansas
2013    Arkansas
dtype: object